<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'bootstrap.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>
<body>
<header>
    {% block header %}{% endblock %}
</header>
    {% block content %}{% endblock %}
</body>
</html>

{# Shared layout for all pages w/ blocks to target where content will be added by templates (views) #}