{% extends 'base.html' %}

{% block title %}
 Console Projection from 2013 on
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<div class="container mh-100 mw-100">
    <canvas id="myChart"></canvas>
</div>
<script>
function getRandomColor() {
      var letters = '0123456789ABCDEF'.split('');
      var color = '#';
      for (var i = 0; i < 6; i++ ) {
        color += letters[Math.floor(Math.random() * 16)];
    }
return color;
}
    let labels = [];
    let datasets = [];
    let label = [];
    let data = [];
    let colors = [];
    {% for label in labels %}
        labels.push('{{ label }}');
    {% endfor %}
    {% for console, publishers in dataset.items() %}
        label = [];
        data = [];
        colors = [];
        {% for publisher, total in publishers.items() %}
            label.push('{{ publisher }}');
            data.push( {{ total }} );
            colors.push(getRandomColor());
        {% endfor %}
        datasets.push({
            label: label,
            data: data,
            backgroundColor: colors
        });
    {% endfor %}
    let myChart = document.getElementById('myChart').getContext('2d');
    let salesForGame = new Chart(myChart,{
        type: 'bar',
        data:{
            labels: labels,
            datasets: datasets
        },
        options:{
            scales: {
                x: {
                    stacked: true
                },
                y: {
                    stacked: true
                }
            },
            title:{
                display: true,
                text: 'Publisher Popularity by Console',
                fontSize: 25
            },
            legend:{
                display: false
            }
        }
    });
</script>

{% endblock %}