{% extends 'base.html' %}





{% block header %}
<h1><center>{% block title %}Publisher Popularity By Console{% endblock %}</center></h1>
{% endblock %}

{% block content %}

<script>
let labels = [];
let data = [];
let colors = [];
function getRandomColor() {
  var letters = '0123456789ABCDEF'.split('');
  var color = '#';
  for (var i = 0; i < 6; i++ ) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
}
</script>

{% for console, publishers in dataset.items() %}
<div class="container mh-100 mw-100">
    <canvas id="{{console}}Chart"></canvas>
</div>
<script>
    labels = [];
    data = [];
    colors = [];
    {% for publisher, total in publishers.items() %}
        labels.push('{{ publisher }}');
        data.push( {{ total }} );
        colors.push(getRandomColor());
    {% endfor %}
    let _{{console}}Chart = document.getElementById('{{console}}Chart').getContext('2d');
    let _{{console}}PieChart = new Chart(_{{console}}Chart,{
        type: 'pie',
        data:{
            labels: labels,
            datasets: [{
                label: '{{ console }}',
                data: data,
                backgroundColor: colors
            }]
        },
        options:{
            title:{
                display: true,
                text: '{{console}}',
                fontSize: 25
            },
            legend:{
                display: false
            }
        }
    });
</script>
{% endfor %}

{% endblock %}