{% extends 'base.html' %}

{% block title %}
 Console Projection from 2013 on
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<div class="container">
    <canvas id="myChart"></canvas>
</div>
<script>
function getRandomColor() {
      var letters = '0123456789ABCDEF'.split('');
      var color = '#';
      for (var i = 0; i < 6; i++ ) {
        color += letters[Math.floor(Math.random() * 16)];
    }
return color;
}
    let labels = [];
    let data = [];
    let colors = [];
    {% for label in labels %}
        labels.push('{{ label }}')
    {% endfor %}
    {% for data in data %}
        data.push({{ data }});
        colors.push(getRandomColor());
    {% endfor %}
    let myChart = document.getElementById('myChart').getContext('2d');
    let salesForGame = new Chart(myChart,{
        type: 'pie',
        data:{
            labels: labels,
            datasets:[
            {
               label: 'Publishers',
               data: data,
               backgroundColor:colors
            }],
        },
        options:{
            title:{
                display: true,
                text: 'Publisher Popularity',
                fontSize: 25
            },
            legend:{
                display: false
            }
        }
    });
</script>

{% endblock %}