{% extends 'base.html' %}

{% block title %}
 Console Projection from 2013 on
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<div class="container">
    <canvas id="myChart" width="400" height="400"></canvas>
</div>
<script>
    let myChart = document.getElementById('myChart').getContext('2d');
    let salesForGame = new Chart(myChart,{
        type: 'bar',
        data:{
            labels:['{{console[0]}}', '{{console[1]}}', '{{console[2]}}', '{{console[3]}}', '{{console[4]}}',
            '{{console[5]}}', '{{console[6]}}', '{{console[7]}}', '{{console[8]}}', '{{console[9]}}', '{{console[10]}}'],
            datasets:[{
               label: 'Sales in Millions',
               data:[
                {{sales[0]}}, {{sales[1]}}, {{sales[2]}}, {{sales[3]}}, {{sales[4]}}, {{sales[5]}},
                {{sales[6]}}, {{sales[7]}}, {{sales[8]}}, {{sales[9]}}, {{sales[10]}}
               ]
            }]
        }
    });
</script>

{% endblock %}