{% extends 'base.html' %}

{% block title %}
Console Projection from 2013 - Present
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<div class="container mh-100 mw-100">
    <canvas id="myChart"></canvas>
</div>
<script>
function getRandomColor() {
    var letters = '0123456789ABCDEF'.split('');
    var color = '#';
    for (var i = 0; i < 6; i++ ) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
}
    let labels = [];
    let data = [];
    let colors = [];
    {% for label in labels %}
        labels.push('{{ label }}');
    {% endfor %}
    {% for data in data %}
        data.push('{{ data }}');
        colors.push(getRandomColor());
    {% endfor %}
    let myChart = document.getElementById('myChart').getContext('2d');
    let salesForGame = new Chart(myChart,{
        type: 'bar',
        data:{
            labels: labels,
            datasets:[{
               label: 'Sales in Millions',
               data: data,
               backgroundColor: colors
            }]
        },
        options:{
            title:{
                display: true,
                text: 'Console Popularity 2013 - Present',
                fontSize: 25
            },
            legend:{
                display: false
            }
        }
    });
</script>
<div style="float: right">
    <a href="/sampleQuestion">Next</a>
</div>
{% endblock %}