{% extends 'base.html' %}

{% block title %}
 Welcome to Our Search
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
{% if error_message != null %}
<div style="color: red">{{error_message}}</div>
{% endif %}
 <form method="post">
    <label for="title">Enter a Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <input type="submit" value="Submit">
  </form>
{% if game != null %}
<table style = "width: 100%">
       <tr>
           <th>Name</th>
           <th>Year</th>
           <th>Publisher</th>
           <th>Genre</th>
           <th>Platform</th>
       </tr>
        <tr>
            <td>{{ game['name'] }}</td>
            <td>{{ game['year'] }}</td>
            <td>{{ game['publisher'] }}</td>
            <td>{{ game['genre'] }}</td>
            <td>{{ game['platform'] }}</td>
        </tr>
</table>
<div class="row">
    <div class="container col-md-6">
        <canvas id="myChart1" width="400" height="400"></canvas>
    </div>
    <div class="container col-md-6">
        <canvas id="myChart2" width="400" height="400"></canvas>
    </div>
</div>
<script>
    let myChart1 = document.getElementById('myChart1').getContext('2d');
    let salesForGame = new Chart(myChart1,{
        type: 'pie',
        data:{
            labels:['North American Sales', 'European Sales', 'Japanese Sales', 'Other Sales'],
            datasets:[{
                label: 'Global Sales in Millions',
               data:[
                {{ game['naSales'] }},
                {{ game['euSales'] }},
                {{ game['jpSales'] }},
                {{ game['otherSales'] }},
                ]
            }]
        }
    });
    {% if game_by_console != null %}
        let labels = [];
        let data = [];
        {% for game in game_by_console %}
            labels.push("{{ game['platform'] }}");
            data.push({{ game['globalSales'] }});
        {% endfor %}
        let myChart2 = document.getElementById('myChart2').getContext('2d');
        let salesForConsole = new Chart(myChart2,{
            type: 'bar',
            data:{
                labels: labels,
                datasets:[{
                   label: 'Global Sales by Console',
                   data: data
                }]
            }
        });
    {% endif %}
</script>
{% endif %}

{% endblock %}
