{% extends 'base.html' %}

{% block title %}
Search Game
{% endblock %}

{% block header %}
<h1><center>Search for a Game</center></h1>
{% endblock %}

{% block content %}
<br>
{% if error_message != null %}
<div style="color: red">{{error_message}}</div>
{% endif %}
<form method="post">
    <center>
    <label for="title">Enter a Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <input type="submit" value="Submit">
    </center>
</form>
<br><br>
{% if game != null %}
<center>
    <table width="100%">
       <tr class="table-primary">
           <th style="font-size: large" scope="row">Name</th>
           <th style="font-size: large" scope="row">Year</th>
           <th style="font-size: large" scope="row">Publisher</th>
           <th style="font-size: large" scope="row">Genre</th>
           <th style="font-size: large" scope="row">Platform</th>
       </tr>
        <tr>
            <td>{{ game['name'] }}</td>
            <td>{{ game['year'] }}</td>
            <td>{{ game['publisher'] }}</td>
            <td>{{ game['genre'] }}</td>
            <td>{{ game['platform'] }}</td>
        </tr>
    </table>
</center>
<br><br>
<div class="row">
    {% if game_by_console == null %}
    <div class="container mh-100 mw-100">
        <canvas id="myChart1"></canvas>
    </div>
    {% else %}
    <div class="container col-md-6">
        <canvas id="myChart1"></canvas>
    </div>
    <div class="container col-md-6">
        <canvas id="myChart2"></canvas>
    </div>
    {% endif %}
</div>
<script>
    let myChart1 = document.getElementById('myChart1').getContext('2d');
    let salesForGame = new Chart(myChart1,{
        type: 'pie',
        data:{
            labels:['North American Sales', 'European Sales', 'Japanese Sales', 'Other Sales'],
            datasets:[{
                label: 'Global Sales in Millions',
                data:[
                    {{ game['naSales'] }},
                    {{ game['euSales'] }},
                    {{ game['jpSales'] }},
                    {{ game['otherSales'] }},
                ],
                backgroundColor:[
                    'blue',
                    'green',
                    'red',
                    'grey'
                ]
            }]
        },
        options:{
            title:{
                display: true,
                text: 'Sales in Millions (by Region)',
                fontSize: 25
            },
        }
    });
    {% if game_by_console != null %}
        let labels = [];
        let data = [];
        let colors = [];
        {% for game in game_by_console %}
            labels.push("{{ game['platform'] }}");
            {% if game['platform'] == 'PS3' or game['platform'] == 'PS4' or game['platform'] == 'PSV' or game['platform'] == 'PSP' %}
                colors.push('blue')
            {% elif game['platform'] == 'X360' or game['platform'] == 'XOne' %}
                colors.push('green')
            {% elif game['platform'] == 'DS' or game['platform'] == '3DS' or game['platform'] == 'WiiU' or game['platform'] == 'Wii' %}
                colors.push('red')
            {% elif game['platform'] == 'PC' %}
                colors.push('black')
            {% endif %}
            data.push({{ game['globalSales'] }});
        {% endfor %}
        let myChart2 = document.getElementById('myChart2').getContext('2d');
        let salesForConsole = new Chart(myChart2,{
            type: 'bar',
            data:{
                labels: labels,
                datasets:[{
                   label: 'Global Sales by Console',
                   data: data,
                   backgroundColor:colors
                }]
            }
        });
    {% endif %}
</script>
{% endif %}
<div style="float: right">
    <a href="/consoleProjection">Next</a>
</div>
{% endblock %}
