{% extends 'base.html' %}

{% block title %}
 Welcome to Our Search
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
{% if error_message != null %}
<div style="color: red">{{error_message}}</div>
{% endif %}
 <form method="post">
    <label for="title">Enter a Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <input type="submit" value="Submit">
  </form>
{% if title != null %}
<table style = "width: 100%">
       <tr>
           <th>Name</th>
           <th>Year</th>
           <th>Publisher</th>
           <th>Genre</th>
           <th>Platform</th>
           <th>Rank</th>
           <th> North American Sales In Millions</th>
           <th> European Sales In Millions</th>
           <th>Japanese Sales In Millions</th>
           <th>Other Sales In Millions</th>
           <th>Global Sales In Millions</th>
       </tr>

        <tr>
            <td>{{ title['name']}}</td>
            <td>{{ title['year']}}</td>
            <td>{{title['publisher']}}</td>
            <td>{{title['genre']}}</td>
            <td>{{title['platform']}}</td>
            <td>{{title['rank']}}</td>
            <td>{{title['naSales']}}</td>
            <td>{{title['euSales']}}</td>
            <td>{{title['jpSales']}}</td>
            <td>{{title['otherSales']}}</td>
            <td>{{title['globalSales']}}</td>
        </tr>
</table>
<div class="container">
    <canvas id="myChart" width="400" height="400"></canvas>
</div>
<script>
    let myChart = document.getElementById('myChart').getContext('2d');
    let salesForGame = new Chart(myChart,{
        type: 'bar',
        data:{
            labels:['North American Sales', 'European Sales', 'Japanese Sales', 'Other Sales', 'Global Sales'],
            datasets:[{
                label: 'Sales in Millions',
               data:[
                {{title['naSales']}},
                {{title['euSales']}},
                {{title['jpSales']}},
                {{title['otherSales']}},
                {{title['globalSales']}}
                ]
            }]
        }
    });
</script>
{% endif %}

{% endblock %}
